<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light btc-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
	 <img src="/assets/img/icons/favicon-45x45.png" alt="Bootstrap Crew"><span class="d-inline-block align-middle ms-2"> Bootstrap Crew</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-btc" aria-controls="navbar-btc" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-btc">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/snippets">Snippets</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/bootstrap-resources">Resources</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
      </ul> 
	   <ul class="navbar-nav d-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Premium Themes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
      </ul> 
    </div>
  </div>
</nav>