<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light btc-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
	 <img src="/assets/img/icons/favicon-45x45.png" alt="Bootstrap Crew"><span class="d-inline-block align-middle ms-2"> Bootstrap Crew</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-btc" aria-controls="navbar-btc" aria-expanded="false" aria-label="Toggle navigation">
     <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-btc">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/snippets">Snippets</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/bootstrap-resources">Resources</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
      </ul> 
	   <ul class="navbar-nav d-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Premium Themes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		    <h6 class="dropdown-header">Premium Vendor</h6>
		    <li><a class="dropdown-item" href="https://www.creative-tim.com/templates/?ref=bootstrapcrew.com">Creative Tim</a></li>
			<div class="dropdown-divider"></div>
			<h6 class="dropdown-header">Premium Marketplaces</h6>
			<li><a class="dropdown-item" href="https://bootstrapbay.sjv.io/yJBYD">Bootstrap Bay</a></li>
            <li><a class="dropdown-item" href="https://wrapbootstrap.com/?ref=BootstrapCrew">Wrap Bootstrap</a></li>
            <li><a class="dropdown-item" href="https://creativemarket.com/themes/bootstrap?u=BootstrapCrew">Creative Market</a></li>
          </ul>
        </li>
      </ul> 
    </div>
  </div>
</nav>