//colour
$white:#ffffff;
$black:#000000;
$btc-blue:#03dada;
$light-blue:#323232;
$grey-1:#505050;
$grey-2:#707070;
$btc-yellow:#fff200;
$bg-color:#fafafa;
$r-link:#02c4c4;
$btc-btn-g1:#6df89b;
$btc-btn-b1:#20ebc2;

//RGBA BLACK
$rgba-b1:rgba(0, 0, 0, 0.1);
$rgba-b2:rgba(0, 0, 0, 0.2);
$rgba-b3:rgba(0, 0, 0, 0.3);
$rgba-b4:rgba(0, 0, 0, 0.4);
$rgba-b5:rgba(0, 0, 0, 0.5);
$rgba-b6:rgba(0, 0, 0, 0.6);
