/*Navigation*/

.btc-navbar{
background:$rgba-b2;
@include heading-font;
	
.navbar-brand{
font-size:20px;
font-weight:700;
color:$white;
	 
&:hover ,&:focus ,&:active{
color:$btc-yellow;
} 
}

.navbar-nav .nav-link{	  
color:$white;
padding-right: 20px;
font-size:15px;
	   
&:hover ,&:focus ,&:active{
color:$btc-yellow;
}  
}
   
button:focus, .button:focus{
outline: none !important;
}
}

.navbar-light .navbar-toggler{
color:$white;
border:none;
}

.dropdown-menu{
border-color:$rgba-b1;
border-radius:0;
font-size:14px;
margin-top:16px;
background-color:$white;
   
.dropdown-item{
color:$rgba-b6;
font-size:14px;
font-weight:600;
	  	       
&:hover, &:focus ,&:active{
color:$black;
background-color:$light-yellow;
}
}

.dropdown-divider{
border-top:1px solid $rgba-b1;
}
}
.dropdown-header{
color:$grey-3;
font-weight:500;
}
