.card{ 	
font-size:16px;


a{
font-size:14px;
color:$r-link;
@include heading-font;

}

h6 a{ 
font-size:18px;
font-weight:700;
border-bottom:3px solid $btc-yellow;
text-decoration:none;
color:$grey-1;

}
}